* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  background-color: blue;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: clamp(768px, 100%, 1200px);
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: lightblue;
}

.close-btn {
  float: right;
}
